<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="budgetConnection" connectionString="Data Source=jeremycomputer;Initial Catalog=Budget;User ID=sqlserverlusername;Password=B3ntley!;Connect Timeout=1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<appSettings>
  <add key="EmailFrom" value="jeremyadvicent@gmail.com"/>
  <add key="SMTPServer" value="smtp.gmail.com"/>
  <add key="SMTPServerPort" value="587"/>
  <add key="SMTPServerUsername" value="jeremyadvicent@gmail.com"/>
  <add key="SMTPServerPassword" value="Rslsjs84"/>
  <add key="MaxFailedLogins" value="3"/>
</appSettings>
</configuration>